.common_height{
    height: 450px;
    overflow-y: scroll;
}

.child_height{
    height: auto;
}

.text_color{
    color: brown;
}

.single_meal{
    align-items: center;
    display: grid;
}

.single_meal img{
    width: 100%;
}

.single_meal h4{
    font-size: 16px;
    margin-top: 10px;
}

.meal_hover:hover{
    cursor: pointer;
}

#meal_information img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#meal_information p{
    font-size: 13px;
}